{% extends "base1.html" %}
{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
    <!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>

<script>
$(function() {
  // call the tablesorter plugin
  $("#template_list").tablesorter({
    theme: 'blue',
    // use save sort widget
    widgets: ["saveSort", "zebra", "resizable","filter"],
          widgetOptions: {
      resizable : true,
    filter_defaultAttrib : 'data-value'
    }

  });
    
  $('button').click(function(){
    $('#template_list')
      .trigger('saveSortReset') // clear saved sort
      .trigger("sortReset");    // reset current table sort
    return false;
  });

});
</script>
<script>
$(document).ready(function() {
   $('#Popup').click(function() {       
     var NWin = window.open("/service/add/", 'createform', 'height=600,width=500');
     if (window.focus) 
     {
       NWin.focus();
     }
     return false;
    });
});
</script>
{% endblock %}
{% block css %}
<link rel='stylesheet' type='text/css' href='{{ STATIC_URL }}css/tablesorter/theme.blue.css'>

{% endblock %}
{% block section_title %}Listing of services for {{ service_type }} {% endblock %} 
{% block content %}
{% if service_type != 'all' %}
<input class="btn btn-primary" type="button" id="Popup" href="/sevice/add/" value='Add service'>
{% endif %}
<table id="template_list" class="tablesorter" style="width:auto"> 
<thead> 
<tr> 
    <th>Name</th> 
    <th>Decsription</th> 
    <th>Company</th> 

</tr> 

</thead>
  <tbody>
     
    {%for o in service%}
       <tr>
    <td>{{ o.name }}</td> 
     <td> {{ o.description}}
    <td>{{ o.user.company }}</td>  
    
 </tr>
{%endfor%}
         
</tbody> 
</table> 
{{ o }}
{% if template_list %}
{% endif %}
{% endblock %}