{% extends "base1.html" %} {% block scripts %}

<script>
    var count = 1;
    (function worker() {
        $.ajax({
            url: '/runner/status/',
            data: {
                counter: count,
                runner: {{ runner }}
            },
            success: function(data) {
                data = JSON.parse(data);
                $('#status').html("<b>RQ#: " + data["counter"] + "</b> Run Status: " + data["status"] + " server time " + data["time"]);
            },
            complete: function() {
                // Schedule the next request when the current one's complete
                count += 1;
                setTimeout(worker, 500);
                document.getElementById('progressBar').style.width = count + '%';
                if (count == 100) {
                    count = 1;
                }
            }
        });
    })();
</script>
{% endblock %} {% block css %} {% block section_title %}Starting Tests run{% endblock %} {% endblock %} {% block content %}
<br>
<b>{{test}}</b>
<br>
<div id="status"></div>
<br>
<div class="progress progress-striped active" style="height:15px;">
    <div id="progressBar" class="bar" style="height:12px;width:1%;background-color:green"></div>
</div>


{% endblock %}